{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-col-lg-3">
            <h1>Login to Blogz</h1>
            <hr>
            <form action="" method="post">
                <label for='username'>Username</label>
                <input type="text" name="username" id="username" class="form-control">
                <label for="password"> Password</label>
                <input type="password" name="password" id="password" class="form-control">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
    {% endblock %}

